@model ThoughtWorks.CodingDojo.MineSweeper.Models.Board

@{
    ViewBag.Title = "Minesweeper";
}

<h2>Minesweeper</h2>

<div class="board">
@foreach (var row  in Model.Matrix)
{
    @Html.Partial("Row", row);		 
}
</div>


