@model ThoughtWorks.CodingDojo.MineSweeper.Models.Board

@{
    ViewBag.Title = "Index";
}

<h2>Hey, Dojo Minesweeper!! \o/</h2>
<table>
@foreach (var line in Model.State)
{
    <tr>
    @foreach (var cell in line)
    {
        <td class="cell" data-row="@cell.Row" data-col="@cell.Column"></td>
    }
    </tr>
}
</table>
