body, body *, * 
{
	margin: 0px;
	padding: 0px;
	border-style: none;
	color: #000000;
	background-color: #ffffff;
}

.row 
{
	display: block;
	float: left;
}

.cell
{
	display: inline-block;
	background-color: #34669a;
	width: 50px;
	height: 50px;
	float: left;
	clear: left;
	text-align: center;
	border: outset 1px #abcdef;
	line-height: 50px;
	vertical-align: middle;
	cursor: pointer;
}

.cell:hover
{
	background-color: #3476aa;
	
}

.cell.with_bomb 
{
	background-color: #a21212;
	color: #f2f2f2;
}
